[submodule "third_party/config"]
	path = third_party/config
	url = sso://gcp-apis/config
	ignore = untracked
[submodule "google/protobuf"]
	path = google/protobuf
	url = https://github.com/google/protobuf.git
	ignore = untracked
[submodule "third_party/googleapis"]
	path = third_party/googleapis
	url = https://github.com/googleapis/googleapis.git
